@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/pablo.css" asp-append-version="true" />


<div class="text-center">
   <title>  Bienvenido</title>
    <link href="#" rel="stylesheet" />

    <div class="video-background">
        <video autoplay muted loop>
            <source src="~/css/videos/home.mp4" type="video/mp4">
            
        </video>
    </div>

    <body>

        <div class="container">

            <h1>  "Bienvenidos al sistema de Reserva de Buses " </h1>
            <p>
                <b> !Hola Santi !</b> Te presentamos nuestro sitio web creada para :  Programacion 4 :D <br> Espero que disfurtes cada
                accion realizada en esta interfaz <b >!Bienvenido a bordo ! </b>
            </p>

        </div>

    </body>

</div>
