<link rel="stylesheet" href="~/css/andres.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css.css" asp-append-version="true" />
@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <title>Bienvenido</title>
    <link href="#" rel="stylesheet" />

    <!-- Barra de navegación -->

    <div class="video-background">
        <video autoplay muted loop>
            <source src="~/video/home.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container additional-content">
        <div class="recuadro">
            <h1>BUS RESERVATION</h1>
            <p>
                <b>Este proyecto tiene como objetivo la compra y reserva de asientos para viajes interprovinciales 
                    alrededor del país, evitando así que las personas tengan que acercarse físicamente a una boletería
                    para comprar su boleto de bus.
                    </b>
            </p>
            <hr/>
            <h2>FUNCIONALIDADES</h2>
            <p>
                Principalmente, el sistema registra a los clientes; se puede visualizar, crear y editar las rutas 
                de los buses, así como comprar un boleto y, por ende, reservar un asiento en el bus. Con esto, se 
                puede gestionar y anticipar de mejor manera las personas que irán en el bus y los asientos disponibles.
            </p>
        </div>
    </div>
</div>
