@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/pablo.css" asp-append-version="true" />


<div class="text-center">
   <title>  Bienvenido</title>
    <link href="#" rel="stylesheet" />

 


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="video-background">
        <video autoplay muted loop>
            <source src="~/css/videos/home.mp4" type="video/mp4">
            
        </video>
    </div>

    <body>

        <div class="container">

            <h1>  "Bienvenidos a la pagina de Reserva de Buses Creada por : Tu marido Moises " </h1>
            <p>
                <b> !Hola mi Andres!</b>Gracias por elegir mi sitio wweb . Programacion 4 :D <br> Espero que disfurtes cada
                accion realizada en esta interfaz<b>!Bienvenido a bordo ! </b>
            </p>

        </div>

    </body>

</div>
