body {
    background-color: midnightblue; /* Color de fondo cuando la imagen no cubre todo */
    background-image: url('https://www.quito-turismo.gob.ec/wp-content/uploads/2023/08/banners_quito_inv_turistica.png');
    background-repeat: no-repeat;
    background-size: 70%; /* Reduce el tamaño de la imagen */
    background-position: center top; /* Centra la imagen en la parte superior */
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con menos transparencia */
    padding: 30px;
    width: 60%;
    margin: 100px auto; /* Centra el contenedor horizontalmente y lo separa del borde superior */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 28px;
}

.btn:hover {
    background-color: #2c3034 ; 
}
